#content-section{
    margin: 3rem 5rem;

    .left-section {
        width: 25%;
        float:left;
    
        h1{
            color: #4A224E;
            font-weight: bold;
        }
    
        p{
            color:#A79FA8;
        }
    }

    .right-section{
        float:right;
        
        .star-rating-box{
            padding: 15px;
            margin: 0;
            text-align: center;
            background-color: #F6F2F7;
            border-radius: 5px;
            color: #4A224E;
            font-weight: bold;
            position: relative;
            left: -250px;

            .stars{
                float: left;
                padding: 0 10px;

                span.fa.fa-star.checked {
                    color: gold;
                }
            }

            span.text{
                padding: 0 3rem 0 10px;
            }
        }
    }

    .col-4.review-box{
        background-color:#4B224F;
        padding: 2rem 1.5rem;
        margin-top: 5rem;
        width: 25%;
        border-radius: 5px;
        margin: 5rem 5rem 0 0;

        .buyer-details{
            img {
                border-radius: 50%;
            }

            span {
                color: white;
                font-weight: bold;
                position: relative;
                left: 20px;
                top: -10px;
            }

            p {
                font-size: 12px;
                font-weight: bold;
                color: #8F517D;
                position: relative;
                left: 75px;
                top: -25px;
            }
        }

        .feedback-text{
            color:white;
        }

    }

}
